html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cluster-marker {
  background-image: url("../public/images/multiple.svg");
  width: 26px;
  height: 36px;
  position: relative;
  display: flex;
  justify-content: center;
}

.cluster-marker span {
  position: absolute;
  top: 4px;
  margin: 0 auto;
  color: #fffaff;
}

.leaflet-div-icon {
  border: none !important;
  background-color: transparent !important;
}
